

h3{
    /* color:brown; */
    padding-bottom: .5em;
    padding-top: 1em;

}

/* body{
    padding-bottom:80px;
} */

.module-card{
    margin-bottom: 0em;
}

.vertical{
    /* transform: rotate(-90deg); */
}

#module-name th
{
    text-align: center !important; 
    vertical-align: middle;
}

.spacer{
    height:1.5em;
}