<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="/media/extra.css" rel="stylesheet">
    <title>Inventory - {% block title %}{% endblock %}</title>
</head>

{% set navigation_bar = {'Home':'/', 'Eiger': {'FEBs':'/eiger/feb', 'BEBs':'/eiger/beb', 'Modules':'/eiger/module',
'Systems':'/eiger/system'}} -%}


<body>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/media/psi.svg" alt="" width="210" height="75">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {% for key, value in navigation_bar.items() %}
                    {%if value is string %}
                    <li class="nav-item">
                        <a class="nav-link" , href="{{value}}">{{key}}</a>
                    </li>
                    {%elif value is mapping%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">{{key}}</a>
                        <ul class="dropdown-menu">
                            {%for name, url in value.items()%}
                            <li><a class="dropdown-item" href="{{url}}">{{name}}</a></li>
                            {%endfor%}
                        </ul>
                    </li>
                    {%endif%}
                    {%endfor%}

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Jungfrau</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Mythen3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Gotthard2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Moench</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" tabindex="-1">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>PSD Detector Group Inventory</h1>
        {% block content %}{% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>



    <footer class="text-muted py-5">
        <div class="container">
          <!-- <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p> -->
          <p class="mb-1">Browsing: {{branch()}} with last update on {{last_commit()}}</p>
          <p class="mb-0"></p>
        </div>
      </footer>
</body>

</html>