{% extends 'base.html' %}

{% block content %}
<h3>{% block title %}Back End Boards{% endblock %}</h3>
<p>All registered boards:</p>
<p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</td>
            <th scope="col">hostname</th>
            <th scope="col">inuse</th>
            <th scope="col">rev</td>
            <th scope="col">git modified</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in result.items()|sort(attribute='0') %}
        <tr>
            <th scope="row"> {{ key }} </th>
            <td> <a href="beb/{{ value['id'] }}">{{ value['id'] }}</a></td>
            <td> {{ value['hostname'] }} </td>
            <td> {{ value['inuse'] }} </td>
            <td> {{ value['rev'] }} </td>
            <td> {{ value['time'] }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</p>
{% endblock %}