{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<p>This is a small test site using fastapi to serve data from the git inventory</p>

<ul>
    {% for key, value in navigation_bar.items() %}
    <li>
        {% if value is string%}
        <a href="{{url_for('read_root')}}{{value}}">{{key}}</a>
        {%elif value is mapping%}
        <b>{{key}}</b>
        <ul>
            {% for name, url in value.items() %}
            <li><a href="{{url_for('read_root')}}{{url}}">{{name}}</a></li>
            {%endfor%}
        </ul>
        {%endif%}
    </li>

    {%endfor%}

</ul>



{% endblock %}