{% extends 'base.html' %}
{% from 'macros.html' import beb_link_w_name, board_link, system_link %}

{% block content %}
<h3>{% block title %}Modules{% endblock %}</h3>
<p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">beb_top</th>
            <th scope="col">beb_bot</th>
            <th scope="col">feb_top</th>
            <th scope="col">feb_bot</th>
            <th scope="col">system</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in result.items()|sort(attribute='0') %}
        <tr>
            <th scope="row"> {{ key }} </th>
            <td> <a href="{{url_for('read_root')}}eiger/module/{{ value['id'] }}">{{ value['id'] }}</a></td>
            <td>{{beb_link_w_name(value['beb_top'])}}</td>
            <td>{{beb_link_w_name(value['beb_bot'])}}</td>
            <td>{{board_link(value['feb_top'])}}</td>
            <td>{{board_link(value['feb_bot'])}}</td>
            <td>
                {% if value['id'] in mounted %}
                <a href="{{url_for('read_system_info', full_id = mounted[value['id']])}}">{{mounted[value['id']]}}</a>
                <!-- {{system_link(mounted[value['id']])}} -->
                {%endif%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</p>
{% endblock %}