{% extends 'base.html' %}
{% from 'macros.html' import display, module_card %}
{% block content %}
<h3>{% block title %}System - {{title}}{% endblock %}</h3>

<p>
    <!-- row-cols-{{result['modules'][0]|count}} -->
<div class="container overflow-hidden">
    {% for row in result['modules']%}
    <div class="row justify-content-start g-4">
        {%for module in row%}
        <div class="col-{{result['column-width']}} vertical">
            {{module_card(module)}}
        </div>
        {%endfor%}
    </div>
    <div class="spacer"></div>
    {%endfor%}
</div>





{% set excluded = ['modules', 'column-width']%}
<h3>Info:</h3>
<table class="table">
    {% for key, value in result.items() %}
    {% if key not in excluded %}
    <tr>
        <th>{{key}}</th>
        <td>{% if value is mapping%}
            {%for name, link in value.items()%}
            {{display(link)}}<br />
            {%endfor%}
            {%else%}
            {{display(value)}}
            {%endif%}

        </td>
    </tr>
    {%endif%}
    {% endfor %}
</table>
</p>

{% endblock %}